@charset "utf-8";

/* --------------------重置样式-------------------------------- */

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0
}

/*设置默认字体*/
body {
    font-size: 14px;
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
}

/*字体太小用户体检不好，让small恢复12px*/
small {
    font-size: 12px
}

h1 {
    font-size: 18px
}

h2 {
    font-size: 16px
}

h3 {
    font-size: 14px
}

h4,
h5,
h6 {
    font-size: 100%
}

ul,
ol {
    list-style: none
}

a {
    text-decoration: none;
    background-color: transparent
}

a:hover,
a:active {
    outline-width: 0;
    text-decoration: none
}

/*重置表格*/
table {
    border-collapse: collapse;
    border-spacing: 0
}

/*重置hr*/
hr {
    border: 0;
    height: 1px
}

/*图形图片*/
img {
    border-style: none
}

img:not([src]) {
    display: none
}

svg:not(:root) {
    overflow: hidden
}

/*下面的操作是针对于html5页面布局准备的，不支持ie6~8以及其他低版本的浏览器*/
html {
    /*禁用系统默认菜单*/
    -webkit-touch-callout: none;
    /*关闭iphone & Android的浏览器纵向和横向模式中自动调整字体大小的功能*/
    -webkit-text-size-adjust: 100%
}

input,
textarea,
button,
a {
    /*表单或者a标签在手机点击时会出现边框或彩色的背景区域，意思是去除点击背景框*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

/*重置html5元素的默认样式*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block
}

audio:not([controls]),
video:not([controls]) {
    display: none;
    height: 0
}

progress {
    vertical-align: baseline
}

mark {
    background-color: #ff0;
    color: #000
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

button,
input,
select,
textarea {
    font-size: 100%;
    outline: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

textarea {
    overflow: auto
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: .54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

/* 超链接的字体颜色继承父元素 */
a {
    color: inherit;
}

/* --------------------通用方法------------------------------- */
:root {
    --theme: #1890ff;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

/* --------------------通用布局(g-)-------------------------------- */
.g-ant {
    display: flex;
}

/* 左边菜单栏 */
.g-ant__sider {
    background-color: #00152a;
    min-height: 100vh;
    width: 208px;
    flex-shrink: 0;
    color: #fff;
    z-index: 2;
}

/* 菜单栏关闭状态 */
.g-ant__sider--close {
    width: 48px;
    overflow: hidden;
}

/* 菜单关闭状态时将logo区域向左边移动 */
.g-ant__sider--close .g-ant-sider-header__logo {
    margin-left: 8px;
}

/* 菜单关闭状态时将主区域向左边移动 */
.g-ant__sider--close .g-ant-sider__main {
    margin-left: -5px;

}

/* 菜单关闭状态时将主区域的文字向右边移动，防止展示出来 */
.g-ant__sider--close .m-menu-content__title {
    margin-left: 20px;
}

/* 菜单关闭状态时，将菜单图标放大 */
.g-ant__sider--close .m-menu-content__icon {
    transform: scale(1.5);
}

/* 菜单关闭状态时，将子菜单隐藏 */
.g-ant__sider--close .m-menu .m-menu__sub {
    display: none;
}

/* 菜单包容器 */
.g-ant-sider__wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* 菜单栏固定 */
.g-ant-sider__wrap--fixed {
    position: fixed;
    width: inherit;
    left: 0;
    top: 0;
}

/* logo区域 */
.g-ant-sider__header {
    height: 64px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    overflow: hidden;
}

.g-ant-sider-header__logo {
    margin-left: 16px;
    margin-right: 12px;
}

/* 菜单项 */
.g-ant-sider__main {
    flex-grow: 1;
    overflow: hidden auto;
}

/* 修改导航样式 */
.g-ant-sider__main::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.g-ant-sider__main::-webkit-scrollbar-thumb {
    background: #51606d;
    border-radius: 3px;
}

.g-ant-sider__main::-webkit-scrollbar-track {
    background: #263849;
    border-radius: 3px;
}


/* 底部按钮 */
.g-ant-sider__footer {
    flex-shrink: 0;
    height: 45px;
    line-height: 45px;
    padding-left: 13px;
    border-top: 1px solid #001122;
    cursor: pointer;
}

/* 右边版心 */
.g-ant__main {
    flex-grow: 1;
    background-color: #f1f2f6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.g-ant-main__header {
    flex-shrink: 0;
    width: inherit;
    height: 48px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 20px;
    border-bottom: 1px solid #e6e7eb;
    padding-right: 20px;
    background-color: #fff;
}


.g-ant-main__header--fixed {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
}

/* 排除有隐藏选择器时 */
.g-ant-main__header--fixed:not(.hide) + .g-ant-main__main{
    margin-top: 48px;
}

.g-ant-main__header>i {
    cursor: pointer;
}

.g-ant-main__header>span {
    margin-left: -15px;
    cursor: pointer;
}

.g-ant-main__main {
    flex-grow: 1;
}

.g-ant-main__footer {
    flex-shrink: 0;
    margin-top: 70px;
    margin-bottom: 28px;
    text-align: center;
    color: #808984;
    line-height: 1.5;
}

.g-ant-main__footer>div:nth-child(1)>i {
    margin: 0 15px;
}

/* --------------------通用模块(m-)-------------------------------- */
/* logo图片 */
.m-logo__img {
    width: 32px;
    height: 32px;
}

.m-logo__title {
    flex-shrink: 0;
}

/* 菜单 */
.m-menu {
    color: #aaadb2;
    cursor: pointer;
}

.m-menu--selected {
    color: #fff;
}

/* 选中菜单时显示其子菜单 */
.m-menu--selected .m-menu__sub {
    display: block;
}

.m-menu__content {
    height: 44px;
    padding: 0 21px 0 18px;
    display: flex;
    align-items: center;
}

.m-menu-content__title {
    margin: 0 auto 0 11px;
}

/* 菜单下的子菜单 默认隐藏*/
.m-menu__sub {
    display: none;
    background-color: #000c18;
}

.m-menu__sub>li {
    height: 40px;
    line-height: 40px;
    padding-left: 48px;
    color: #a2afb8;
}

.m-menu__sub>li.m-menu__sub--active {
    background-color: var(--theme);
    color: #fff;
}

/* 设置区域 */
.m-setting {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    padding: 0 14px;
    box-sizing: border-box;
    z-index: 4;
}

.m-setting--close {
    transform: translateX(300px);
}


/* 设置按钮 */
.m-setting__button {
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: var(--theme);
    position: absolute;
    right: 300px;
    top: calc(50% - 24px);
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
}

.m-setting__button>i {
    font-size: 26px;
}

/* 主题色 */
.m-setting-main__theme>h3 {
    margin-top: 50px;
}

.m-setting-main__theme>ul {
    margin: 30px 0 50px 0;
    display: flex;
    justify-content: space-between;
}


/* 内容设置 */
.m-setting-main__content {
    border-top: 1px solid #f0f0f0;
    padding: 50px 0 30px 0;
}

.m-setting-main__content>h3 {
    margin-bottom: 30px;
}

.m-setting-main-content__item {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

/* 遮罩层 */
.m-layer {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

.m-setting--close+.m-layer {
    display: none;
}


/* --------------------通用元件(u-)-------------------------------- */
.u-foxiaolan,
.u-bomu,
.u-huoshan,
.u-rimu,
.u-mingqing,
.u-jiguanglv,
.u-jikelan,
.u-jiangzi {
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
}

.u-foxiaolan {
    background-color: #1590ff;
}

.u-bomu {
    background-color: #f2232b;
}

.u-huoshan {
    background-color: #f8541e;
}

.u-rimu {
    background-color: #fbae14;
}

.u-mingqing {
    background-color: #14c2c3;
}

.u-jiguanglv {
    background-color: #52c31d;
}

.u-jikelan {
    background-color: #2f54eb;
}

.u-jiangzi {
    background-color: #722ed1;
}

/* 切换按钮 */
.u-switch {
    width: 28px;
    height: 16px;
    background-color: var(--theme);
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.u-switch>div {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 2px;
}

.u-switch--close {
    background-color: #bfbfbf;
}

.u-switch--close>div {
    margin-left: 14px;
}



/* --------------------通用响应式系统-------------------------------- */