/* 首页样式 */
.index-content {
    margin: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 285px);
    grid-template-areas:
        "a1 a1 a1 a2"
        "a1 a1 a1 a3"
        "a4 a4 a5 a6"
    ;
    gap: 20px;
}

.index-content>.index-content__item:nth-child(1) {
    grid-area: a1;
}


.index-content>.index-content__item:nth-child(2) {
    grid-area: a2;
}

.index-content>.index-content__item:nth-child(3) {
    grid-area: a3;
}

.index-content>.index-content__item:nth-child(4) {
    grid-area: a4;
}

.index-content>.index-content__item:nth-child(5) {
    grid-area: a5;
}

.index-content>.index-content__item:nth-child(6) {
    grid-area: a6;
}

.index-content__item {
    display: flex;
    flex-direction: column;
    background: #fff;
}

.index-content-item__title {
    font-size: 16px;
    font-weight: normal;
    flex-shrink: 0;
    height: 57px;
    line-height: 57px;
    border-bottom: 1px solid #f0f0f0;
    padding-left: 20px;
}

.index-content-item__info1,
.index-content-item__info2,
.index-content-item__info3,
.index-content-item__info4,
.index-content-item__info5,
.index-content-item__info6 {
    flex-grow: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.index-content-item__info1{
    background-image: url("./../static/index-1.jpg");
}
.index-content-item__info2{
    background-image: url("./../static/index-2.jpg");
}
.index-content-item__info3{
    background-image: url("./../static/index-3.jpg");
}
.index-content-item__info4{
    background-image: url("./../static/index-4.jpg");
}
.index-content-item__info5{
    background-image: url("./../static/index-5.jpg");
}
.index-content-item__info6{
    background-image: url("./../static/index-6.jpg");
}